{{ form_start(form) }}
    {#{{ form_widget(form) }}#}

    {{ form_row(form.name) }}
    {#{{ form_row(form.isPredefined) }}
    {{ form_row(form.season_filter) }}#}
<div class="text-center">
    <button class="btn saveBtn mt-2">{{ button_label|default('Save') }}</button>
</div>

{{ form_end(form) }}
