{% extends 'base.html.twig' %}

{% block title %}Packing List{% endblock %}

{% block body %}
<div class="container">
    <h1>Packing list for the trip "{{ tripName }}" to {{ tripDestination }}</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <h5 class="card-header">my chosen packing items</h5>
                {#<table class="table">
                    <tbody>
                    {% for userPackingItem in userPackingItems %}
                        <tr>
                            <td>{{ userPackingItem.name }}</td>
                            <td><button class="btn btn-sm btn-warning">+</button></td>
                            {% if userPackingItem.tripPackingItemCount > 0 %}
                                <td>count: {{ userPackingItem.tripPackingItemCount }}</td>
                            {% else %}
                                <td>count: 0</td>
                            {% endif %}
                            <td><button class="btn btn-sm btn-warning">-</button></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Nothing here yet</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>#}
                <table class="table">
                    <tbody>
                    {% for userPackingItem in userPackingItems %}
                        <tr>
                            <td>{{ userPackingItem.pakingList.name }}</td>
                            <td>
                                <a href="/pakinglist/decrease-count/{tripId}/{tripPackingListItemId}" class="btn btn-sm btn-warning" onclick="decreaseCount({{ userPackingItem.id }})">-</a>
                                {% set myCount = userPackingItem.count %}
                                count: {{ myCount }}
                                <a href="/pakinglist/increase-count/{tripId}/{tripPackingListItemId}" class="btn btn-sm btn-warning" onclick="increaseCount({{ userPackingItem.id }})">+</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Nothing here yet</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">our packing item suggestions</h5>
                <table class="table">
                    <tbody>
                    {% for packing_item in packing_items %}
                        <tr>
                            <td class="col-6">
                                {{ packing_item.name }}
                            </td>
                            <td class="col-2">
                                <a href="{{ add_packing_item }}&packingItemId={{ packing_item.id }}" class="btn btn-sm btn-success">add</a>
                            </td>
                            <td class="col-2">
                                {% if packing_item.isPredefined == false %}
                                    <a href="{{ path('app_paking_list_edit', {'id': packing_item.id}) }}" class="btn btn-sm btn-outline-dark">edit</a>
                                {% endif %}
                            </td>
                            <td class="col-2">
                                {% if packing_item.isPredefined == false %}
                                    {{ include('paking_list/_delete_form.html.twig') }}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <li>no records found</li>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('app_packingItem_new', {'tripId': tripId}) }}" class="btn btn-warning m-2">Create new</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
