{% extends 'base.html.twig' %}

{% block title %}PakingList index{% endblock %}

{% block body %}
    <h1>PakingList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>IsPredefined</th>
                <th>Season</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for packing_item in packing_items %}
            <tr>
                <td>{{ packing_item.id }}</td>
                <td>{{ packing_item.name }}</td>
                <td>{{ packing_item.isPredefined ? 'Yes' : 'No' }}</td>
                <td>{{ packing_item.seasonFilter }}</td>
                <td>
                    {#<a href="{{ path('app_paking_list_show', {'id': packing_item.id}) }}">show</a>#}
                    <a href="{{ path('app_paking_list_edit', {'season': season,'id': packing_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_paking_list_new', {'season': season}) }}">Create new</a>
{% endblock %}
