{% extends 'base.html.twig' %}

{% block title %}Trip index
{% endblock %}

{% block body %}
	<h1>Trips</h1>
	<div class="container">

		<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 ">

			{% for trip in trips %}

				<div class="card m-2">

					<div
						class="card-body">
						{# <img src="{{ trip.image }}" class="card-img-top" alt="..."> #}
						<h5 class="card-title">{{ trip.name }}</h5>
						<p class="card-text">{{ trip.destination }}</p>
						<p class="card-text">From
							{{ trip.dateBegin ? trip.dateBegin|date('Y-m-d') : '' }}
							until
							{{ trip.dateEnd ? trip.dateEnd|date('Y-m-d') : '' }}</p>

						{#<a class="btn btn-success" href="{{ path('app_trip_show', {'id': trip.id}) }}">Details</a>
												<a class="btn btn-warning" href="{{ path('app_trip_edit', {'id': trip.id}) }}">edit</a>#}
						<div class="btn-group">
							<a class="btn btn-outline-dark" href="{{ path('app_trip', {'destination': trip.destination}) }}">Itinerary</a>

							{% set summerStartMonth = 5 %}
							{% set summerEndMonth = 10 %}

							{% set winterStartMonth = 11 %}
							{% set winterEndMonth = 4 %}

							{% set season = '' %}

							{% if trip.getDateBegin()|date('n') >= summerStartMonth and trip.getDateEnd()|date('n') <= summerEndMonth %}
								{% set season = 'summer' %}
							{% elseif trip.getDateBegin()|date('n') >= winterStartMonth or trip.getDateEnd()|date('n') <= winterEndMonth %}
								{% set season = 'winter' %}
							{% endif %}

							{# Output the link with the season parameter #}
						{# <a class="btn btn-outline-dark" href="{{ path('app_trips_packinglist', {'season': season}) }}">Packing List</a>  for {{ season|capitalize }} #}

							{# <a class="btn btn-outline-dark" href="{{ path('app_journal_trip', {'id': trip.id}) }}">Journal</a> #}
						</div>
					</div>
				</div>


			{% else %}
				<p>no records found</p>
			{% endfor %}
		</div>
		<a class="btn btn-outline-dark mt-4" href="{{ path('app_trip_new') }}">Create a new Trip</a>
	</div>
{% endblock %}
