{% extends 'base.html.twig' %}

{% block title %}Trip index
{% endblock %}

{% block body %}
	<h1>Trips</h1>
	<div class="container">

		<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 ">

			{% for trip in trips %}

				<div class="card">

					<div
						class="card-body">
						{# <img src="{{ trip.image }}" class="card-img-top" alt="..."> #}
						<h5 class="card-title">{{ trip.name }}</h5>
						<p class="card-text">{{ trip.destination }}</p>
						<p class="card-text">{{ trip.dateBegin ? trip.dateBegin|date('Y-m-d') : '' }}</p>
						<p class="card-text">{{ trip.dateEnd ? trip.dateEnd|date('Y-m-d') : '' }}</p>

						<a class="btn btn-success" href="{{ path('app_trip_show', {'id': trip.id}) }}">Details</a>
						<a class="btn btn-warning" href="{{ path('app_trip_edit', {'id': trip.id}) }}">edit</a>
						<a class="btn btn-secondary" href="{{ path('app_trip', {'destination': trip.destination}) }}">Itinerary</a>
						<a class="btn btn-secondary" href="{{ path('app_paking_list_index', {'id': trip.id}) }}">Packing List</a>
						<a class="btn btn-secondary" href="{{ path('app_journal_trip', {'id': trip.id}) }}">Journal</a>
					</div>
				</div>


			{% else %}
				<p>no records found</p>
			{% endfor %}
		</div>
		<a class="btn btn-primary mt-4" href="{{ path('app_trip_new') }}">New Trip</a>
	</div>
{% endblock %}
