{% extends 'base.html.twig' %}

{% block title %}Trip index
{% endblock %}

{% block body %}
	<h1>Trips</h1>
	<div class="container">

		<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 ">

			{% for trip in trips %}

				<div class="card m-2">

					<div
						class="card-body">
						{# <img src="{{ trip.image }}" class="card-img-top" alt="..."> #}
						<h5 class="card-title">{{ trip.name }}</h5>
						<p class="card-text">{{ trip.destination }}</p>
						<p class="card-text">From
							{{ trip.dateBegin ? trip.dateBegin|date('Y-m-d') : '' }}
							until
							{{ trip.dateEnd ? trip.dateEnd|date('Y-m-d') : '' }}</p>
						<div class="btn-group">
							<a class="btn btn-outline-dark" href="{{ path('app_trip', {'destination': trip.destination}) }}">Itinerary</a>

							<a class="btn btn-outline-dark" href="{{ path('app_trips_packinglist', {'tripId': trip.id}) }}">Packing List</a>

							<a class="btn btn-outline-dark" href="{{ path('app_journal_trip', {'id': trip.id}) }}">Journal</a>
						</div>
					</div>
				</div>


			{% else %}
				<p>no records found</p>
			{% endfor %}
		</div>
		<a class="btn btn-outline-dark mt-4" href="{{ path('app_trip_new') }}">Create a new Trip</a>
	</div>
{% endblock %}
