{% extends 'base.html.twig' %}

{% block title %}Activities index
{% endblock %}

{% block body %}
	<div class="pt-2 pb-5">
		<div class="container">
			<div id="liveAlertPlaceholder"></div>
			<h1>Activities for "{{ tripName }}" to {{ tripDestination }}</h1> 
			<a href="{{ path('app_activities_new', {'destination': tripDestination}) }}" class="btn btn-warning mb-2">Create new</a>
			{% if trip is defined %}
				<a class="btn btn-outline-dark" href="{{ path('app_trips_packinglist', {'id': trip.id}) }}">Packing List</a>
				<a class="btn btn-outline-dark" href="{{ path('app_journal_trip', {'id': trip.id}) }}">Journal</a>
			{% endif %}
			

			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<h5 class="card-header">My day-to-day activities</h5>
						<!--might put 'for' here, before the card-body-->
						<div class="card-body customActivities" id="ajax">
							{% for userActivity in userActivities %}
								<h5 class="card-title">{{ userActivity.name }}</h5>
								{# <a href="{{ path('app_activities_show') }}" class="btn btn-success">Show-link atm</a> #}
							{% else %}
								<div class="card-body">
									<p>Nothing here yet</p>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div
						class="card" style="width: 100%;">
						<!-- Adjust width as needed -->
						<div class="card-header">
							Our activity suggestions
						</div>
						{% for activity in activities %}
							<div class="card-body">
								<h5 class="card-title">{{ activity.name }}</h5>
								<a href="{{ add_activity }}&activId={{ activity.id }}" class="btn btn-success">Add to my day-to-day</a>
							</div>
						{% else %}
							<div class="card-body">
								<p>No suggested activities found</p>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

		</div>
	</div>
	<div id="map" style="height: 200px"></div>
	{% block javascripts %}
		<script>

			var map;

function initMap() {

map = new google.maps.Map(document.getElementById('map'), {

center: {
lat: 48.20849,
lng: 16.37208
},
zoom: 8

});

}
		</script>

	{% endblock %}
{% endblock %}
