{% extends 'base.html.twig' %}

{% block title %}JournalPost index{% endblock %}

{% block body %}
    <h1>JournalPost index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Text</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for journal_post in journal_posts %}
            <tr>
                <td>{{ journal_post.id }}</td>
                <td>{{ journal_post.date ? journal_post.date|date('Y-m-d') : '' }}</td>
                <td>{{ journal_post.text }}</td>
                <td>{{ journal_post.image }}</td>
                <td>
                    <a href="{{ path('app_journal_post_show', {'id': journal_post.id}) }}">show</a>
                    <a href="{{ path('app_journal_post_edit', {'id': journal_post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_journal_post_new') }}">Create new</a>
{% endblock %}
