
{% extends 'base.html.twig' %}

{% block title %}JournalPost Index{% endblock %}

{% block body %}
    <div class="container-fluid mt-4">
        

        {% if journal_posts|length > 0 %}
        <div class="container mt-4">
            <!-- Trip Header Image -->
            <div class="card mb-4 border-0">
                <img class="card-img-top rounded" src="{{ asset('images/' ~ trip.image) }}" alt="Trip image">
                <div class="card-body text-center">
                    <h1 class="card-title">My Blog of '{{ trip.name }}'</h1>
                </div>
            </div>
    
            <!-- Blog Post Entries -->
            <div class="card mb-4 border-0">
                <div class="card-body bg-secondary">
                    {% for journal_post in journal_posts|sort((b, a) => a.date <=> b.date) %}
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img class="card-img" src="{{ asset('images/' ~ journal_post.image) }}" alt="Post Image">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h5 class="card-title mb-3">Post on {{ journal_post.date ? journal_post.date|date('Y-m-d') : '' }}</h5>
                                        <p class="card-text">{{ journal_post.text }}</p>
                                        <hr>
                                        <div class="text-center">
                                            <a class="btn btn-warning mx-1 my-2" href="{{ path('app_journal_post_edit', {'id': journal_post.id}) }}">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container text-center mt-4">
            <p>No records found</p>
        </div>
    {% endif %}
    
        <div class="d-flex justify-content-center mt-4">
            <a class="btn btn-primary" href="{{ path('app_journal_post_new', {'id': app.request.get('id')} ) }}">Create New Post</a>
        </div>
    </div>
{% endblock %}

